@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap");

body {
  font-family: "Nunito", "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #cecece;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-size: 1.2em;
  text-align: center;
}

img {
  transform: scale(0.75);
  min-height: 100%;
  vertical-align: middle;
}

button {
  border: none;
  border-radius: 5px;
  padding: 1em 2em;
  transition: 0.2s;
}

button.active {
  scale: 105%;
}

span.btn-text {
  font-family: "Roboto", sans-serif;
  vertical-align: middle;
  transition: 0.3s;
}

div#bottom-info {
  margin-top: 10px;
  text-align: center;
  font-style: italic;
  font-size: 0.75em;
}

button#copy-btn {
  background-color: #63e527;
  margin-bottom: 7.5px;
}

button#copy-btn:hover {
  background-color: #84f54f;
}

button#open-btn {
  background-color: #2eb9f0;
}

button#open-btn:hover {
  background-color: #5dcefa;
}

.open-buttons {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  grid-gap: 0.5em;
}

#newwin-btn img {
  transform: scale(1.45);
  min-height: auto;
}
